# Django Settings
SECRET_KEY=your-secret-key-here-change-in-production
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,aguzmaninz.pythonanywhere.com

# Base de datos externa de Reporting (AWS RDS PostgreSQL)
DB_USER=readonly_user
DB_PASSWORD=your-db-password-here
DB_HOST=recursos-humanos.ckgrykmwkt91.us-east-1.rds.amazonaws.com
DB_PORT=5432
DB_NAME=recursos_humanos
